<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tct.db.mapper.AppGunCustomMapper">
 	<sql id="allColumns">
 		id,
 		app_id as appId,
 		gun_id as gunId,
 		create_time as createTime,
 		allot_state as allotState
 	</sql>
 	
<!--  	<select id="selectAllColumn" parameterType="com.tct.db.po.AppGunCustomQueryVo" resultType="com.tct.db.po.AppGunCustom">
 		select <include refid="allColumns"/> from app_gun
 		<where>
 			<if test="appCustom.gunId !=null">
 				gun_id=#{appCustom.gunId}
 			</if>
 			<if test="appCustom.allotState!=null">
 				and allot_state=#{appCustom.allotState}
 			</if>
 		</where>
 	</select> -->
 	
 	<select id="selectAllColumn" parameterType="com.tct.db.po.AppGunCustomQueryVo" resultType="com.tct.db.po.AppGunCustom">
 		select <include refid="allColumns"/> from app_gun
 		<trim prefix="WHERE (" suffix=")" prefixOverrides="AND |OR ">
 			<if test="appGunCustom.gunId !=null">
 				gun_id=#{appGunCustom.gunId}
 			</if>
 			<if test="appGunCustom.allotState!=null">
 				and allot_state=#{appGunCustom.allotState}
 			</if>
 		</trim>
 	</select>
 	
	<insert id="insertSelective" parameterType="com.tct.db.po.AppGunCustom">
		 insert into app_gun
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        id,
	      </if>
	      <if test="appId != null">
	        app_id,
	      </if>
	      <if test="gunId != null">
	        gun_id,
	      </if>
	      <if test="createTime != null">
	        create_time,
	      </if>
	      <if test="allotState != null">
	        allot_state,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        #{id,jdbcType=INTEGER},
	      </if>
	      <if test="appId != null">
	        #{appId,jdbcType=INTEGER},
	      </if>
	      <if test="gunId != null">
	        #{gunId,jdbcType=INTEGER},
	      </if>
	      <if test="createTime != null">
	        #{createTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="allotState != null">
	        #{allotState,jdbcType=INTEGER},
	      </if>
	    </trim>
	</insert>

	<update id="updateSelectiveByAppId" parameterType="com.tct.db.po.AppGunCustom">
		update app_gun
	    <set>
	      <if test="gunId != null">
	        gun_id = #{gunId,jdbcType=INTEGER},
	      </if>
	      <if test="createTime != null">
	        create_time = #{createTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="allotState != null">
	        allot_state = #{allotState,jdbcType=INTEGER},
	      </if>
	    </set>
	    where app_id = #{appId,jdbcType=INTEGER}
	</update>
	
	<update id="updateSelectiveByAppIdAndGunId" parameterType="com.tct.db.po.AppGunCustom">
		update app_gun
	    <set>
	      <if test="allotState != null">
	        allot_state = #{allotState,jdbcType=INTEGER},
	      </if>
	    </set>
	    where app_id = #{appId,jdbcType=INTEGER} and gun_id =#{gunId,jdbcType=INTEGER} and allot_state =1
	</update>
	
	<update id="updateSelectiveByAppIdAndState" parameterType="com.tct.db.po.AppGunCustom">
		update app_gun
	    <set>
	      <if test="allotState != null">
	        allot_state = #{allotState,jdbcType=INTEGER},
	      </if>
	    </set>
	    where app_id = #{appId,jdbcType=INTEGER} and allot_state = 2
	</update>
</mapper>